MONGO_URI='mongodb+srv://loitd:Aa123456@cluster1.phgttip.mongodb.net/?retryWrites=true&w=majority'
RESET_PASSWORD_KEY='passwordreset'
PASSWORD_EMAIL_SUPPORT='passwordemailsupport'
JWT_SECRET='secret'
COOKIE_SECRET='s%3Al3ozSdvQ83TtC5RvJ.CibaQoHtaY0H3QOB1kqR8H2A'

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

PORT_SERVE="9000"
SERVER_API_URL=http://103.170.122.197:9000